[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test.git
[submodule "lib/geb-interfaces"]
	path = lib/geb-interfaces
	url = https://github.com/reflexer-labs/geb-interfaces.git
[submodule "lib/ds-math"]
	path = lib/ds-math
	url = https://github.com/dapphub/ds-math
